/**
 * 找回密码和重设密码样式表
 * @filename findpwd.css
 * @author rf.wangchn@gmial.com
*/

.findpwd,
.resetpwd {
	width: 100%;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.findpwd { position: relative; }
.resetpwd { position: relative; }
.findpwd input,
.resetpwd input { padding: 0 20px; }
.findpwd-verificationCode,
.resetpwd-verificationCode {
  width: 266px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
}
.resetpwd-verificationCode { margin-bottom: 0; }
.findpwd-verificationCode input { width: 90px; margin: 0; padding: 0 20px; }
.findpwd-verificationCode-btn {
  width: 100px;
	height: 37px;
	line-height: 37px;
	padding: 0 10px;
	border: 1px solid transparent;
	border-radius: 19px;
	background: #ffb600;
	color: #fff;
	transition: all .3s;
}
.findpwd-verificationCode-btn.unclickable { background: #d3d3d3; }
.findpwd-verificationCode-btn:focus { outline: none; }

.findpwd-btn,
.resetpwd-btn {
	width: 246px;
  height: 37px;
	line-height: 37px;
	border: none;
	border-radius: 19px;
	background: #ffb600;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
}
.findpwd-btn:focus,
.resetpwd-btn:focus { outline: none; }

/* 验证提示 */
.findpwd-tips,
.resetpwd-tip,
.resetpwd-verificationTip {
  position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.resetpwd-tip-text { color: #ffb600; font-weight: bold; }
.resetpwd-verificationTip span { color: #fd3232; font-weight: bold; }
.findpwd-tips-verification-text { color: #fd3232; font-weight: bold; }
.findpwd-tips-verification-text.hidden { display: none; }
